ErrorDocument 400 /error/?e=400
ErrorDocument 401 /error/?e=401
ErrorDocument 402 /error/?e=402
ErrorDocument 403 /error/?e=403
ErrorDocument 404 /error/?e=404
ErrorDocument 405 /error/?e=405
ErrorDocument 406 /error/?e=406
ErrorDocument 407 /error/?e=407
ErrorDocument 408 /error/?e=408
ErrorDocument 409 /error/?e=409
ErrorDocument 410 /error/?e=410
ErrorDocument 411 /error/?e=411
ErrorDocument 412 /error/?e=412
ErrorDocument 413 /error/?e=413
ErrorDocument 414 /error/?e=414
ErrorDocument 500 /error/?e=500
ErrorDocument 501 /error/?e=501
ErrorDocument 502 /error/?e=502
ErrorDocument 503 /error/?e=503
ErrorDocument 504 /error/?e=504
ErrorDocument 505 /error/?e=505